<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="appDatabase" connectionString="Data Source=.;Initial Catalog=app;User ID=sa;Password=Password0" providerName="System.Data.SqlClient" />
  <add name="CustomerEntities" connectionString="metadata=res://*/Customers.csdl|res://*/Customers.ssdl|res://*/Customers.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=app;User ID=sa;Password=Password0&quot;" providerName="System.Data.EntityClient" />
  <add name="IncidentEntities" connectionString="metadata=res://*/Incidents.csdl|res://*/Incidents.ssdl|res://*/Incidents.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=app;User ID=sa;Password=Password0&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>